[Unit]
Description=Timer to run wallpaper-changer.service
After=network-online.target

[Timer]
Unit=wallpaper-changer.service
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
