[Unit]
Description=Timer to run wallpaper-changer.service

[Timer]
Unit=wallpaper-changer.service
OnCalendar=*:0/10

[Install]
WantedBy=timers.target
