configuration {
	modi: "drun,run";
}

*{
	highlight: Bold #fb4934;
	background-color: #282828;
	font: "Ubuntu Mono 13";
	border-color: #d79921;
}

#window {
	anchor: east;
	location: east;
	width: 23%;
	height: 100%;
	border: 2px 0px 2px 2px;
}

#prompt {
	text-color: #ebdbb2;
	padding: 6px;
}

#entry {
	text-color: #fb4934;
	padding: 6px;
}

#element {
	text-color: #7c6f64;
	padding: 6px;
}

#element selected {
	text-color: #fbf1c7;
}
