[Desktop Entry]
# Application, Link or Directory
Type=Application

# Name of the application
Name=Ankama Launcher

# Icon of the application
Icon=/home/kani/Documents/Applications/Ankama-launcher/ankama-launcher.png

# The command to execute
Exec=/home/kani/Documents/Applications/Ankama-launcher/ankama-launcher.appimage

# Hide the app
NoDisplay=false

# Start from terminal
Terminal=false
