[Desktop Entry]
# Application, Link or Directory
Type=Application

# Categories, see https://specifications.freedesktop.org/menu-spec/latest/apa.html
Categories=Game;

# What to execute
Name=Ankama Launcher
Comment=Play Ankama games
Exec=/home/kani/Documents/Apps/Ankama-Launcher/ankama-launcher.AppImage
Icon=/home/kani/Documents/Apps/Ankama-Launcher/ankama-launcher.png

# Launch the app in a terminal
Terminal=false
