[Desktop Entry]
Name[it]=Bottles
Name[fr]=Bouteilles
Name[de]=Bottles
Name[hi]=Bottles
Name[pt]=Bottles
Name[es]=Botellas
Name[nb_NO]=Flasker
Name[pt_BR]=Bottles
Name[id]=Bottles
Name[nl]=Bottles
Name[tr]=Şişeler
Name[sv]=Bottles
Name[ru]=Bottles
Name[eo]=Boteloj
Name[zh_Hans]=Bottles
Name[fi]=Pullot
Name[ja]=Bottles
Name[hr]=Butelje
Name[cs]=Láhve
Name[uk]=Bottles
Name[hu]=Palackok
Name[pl]=Bottles
Name[zh_Hant]=Bottles
Name[ko]=Bottles
Name[vi]=Bottles
Name[eu]=Bottles
Name[bg]=„Bottles“
Name[el]=Bottles
Name[gl]=Botellas
Name[sk]=Fľaše
Name[ro]=Sticle
Name[ms]=Botol
Name[ckb]=بۆتڵز
Name[fa]=بطری‌ها
Name[th]=ขวด
Name[ar]=القوارير
Name[bn]=Bottles
Name[sl]=Steklenice
Name[ca]=Bottles
Name[lt]=Bottles
Name[sr]=Флаше
Name[ta]=பாட்டில்கள்
Name[ie]=Botelles
Name=Bottles
Comment[fr]=Exécutez des logiciels Windows
Comment[pt_BR]=Execute programas do Windows
Comment[nl]=Voer Windows-software uit
Comment[ru]=Запуск программ Windows
Comment[zh_Hans]=运行 Windows 软件
Comment[fi]=Suorita Windows-ohjelmistoja
Comment[cs]=Spuštění softwaru systému Windows
Comment[uk]=Запуск програм Windows
Comment[zh_Hant]=執行 Windows軟體
Comment[bg]=Използвайте софтуер за „Windows“
Comment[ar]=شغِّل برامج ويندوز
Comment[ta]=விண்டோஸ் மென்பொருளை இயக்கவும்
Comment[ie]=Executer programmas por Windows
Comment=Run Windows Software
Icon=com.usebottles.bottles
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=bottles --file-forwarding com.usebottles.bottles @@u %u @@
Terminal=false
Type=Application
Categories=Utility;GNOME;GTK;
StartupNotify=true
StartupWMClass=bottles
MimeType=x-scheme-handler/bottles;application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-wine-extension-msp;
Keywords[it]=wine;windows;
Keywords[fr]=wine;windows;
Keywords[de]=Wine;Windows;
Keywords[hi]=wine;windows;
Keywords[pt]=wine;windows;
Keywords[es]=wine;windows;
Keywords[nb_NO]=WINE;Windows;
Keywords[pt_BR]=wine;windows;
Keywords[id]=wine;windows;
Keywords[nl]=wine;windows;
Keywords[tr]=wine;windows;
Keywords[sv]=wine;windows;
Keywords[ru]=wine;windows;
Keywords[eo]=wine;windows;
Keywords[zh_Hans]=wine;windows;
Keywords[fi]=wine;windows;
Keywords[ja]=wine;windows;
Keywords[hr]=wine;windows;
Keywords[cs]=wine;windows;
Keywords[uk]=wine;windows;
Keywords[hu]=wine;windows
Keywords[pl]=wine;windows;
Keywords[zh_Hant]=wine;windows;
Keywords[ko]=wine;windows;
Keywords[vi]=wine;windows;
Keywords[eu]=wine;windows;
Keywords[bg]=wine;windows;
Keywords[el]=wine;windows;
Keywords[gl]=wine;windows;
Keywords[ro]=wine;windows;
Keywords[ms]=wine;windows;
Keywords[ckb]=واین؛ویندۆز;
Keywords[fa]=wine؛ویندوز؛
Keywords[th]=wine;windows;
Keywords[ar]=wine;windows;
Keywords[bn]=ওয়াইন;উইন্ডোজ;
Keywords[ca]=wine;windows;
Keywords[lt]=wine;windows;
Keywords[sr]=вајн;виндовс;
Keywords[et]=wine;windows;
Keywords[ta]=ஒயின்;விண்டோஸ்;
Keywords[ie]=wine;windows;
Keywords=wine;windows;
X-GNOME-UsesNotifications=true
X-Flatpak=com.usebottles.bottles
